<style>
  .home-container {
    display: flex;
    flex-direction: row;
  }

  .browse-topics {
    flex: 1;
  }
  ,
  .rooms-list {
    flex: 1;
    margin-right: 20px;
  }
  .recent-activity {
    flex: 3;
    margin-right: 30px; /* Adjust margin as needed */
  }
</style>
{% extends "main.html" %} {% block content %}

<div class="home-container">
  <div class="browse-topics">{% include 'base/topics_container.html' %}</div>
  <div class="rooms-list">
    <small>{{ room_count }} rooms found</small>
    {% include 'base/feed_container.html' %}
  </div>

  <div class="recent-activity">{% include "base/activity_container.html"%}</div>
</div>
{% endblock content %}
